.latests{
  width : 94%;

  margin : 0 3%;
  text-align : left;

  color : #6C6C81;

  /* table 기본값 수정 */
  border-collapse: collapse;
  /* text-indent: 0%;
  border-spacing: 0px; */
}

.latests > thead{
  line-height : 4rem;
  font-size: 17px;
}

.latests > tbody{
  
  line-height : 4rem;
  line-height : 4rem;
}

.latest_tr {
  border-bottom : 1px solid #dddddd;
}

.latest_tr:last-child {
  border-bottom : none;
}

.latest-td-iaq{
  display : flex;
  align-items: center;
}

.latest-iaq-val{
  margin-right : 20%;
}

.latest-iaq-ico{
  margin-right : 5%;
}