.latests{
  width : 94%;

  margin : 0 3%;
  text-align : left;

  color : #6C6C81;
}

.latests > thead{
  line-height : 4rem;

  font-weight : bold;
  font-size: 140%;
}

.latests > tbody{
  line-height : 4rem;
}

td[class^='latest-td']{
  border-bottom : 1px solid #dddddd;
}

.latest-td-iaq{
  display : flex;
  align-items: center;
}

.latest-iaq-val{
  margin-right : 20%;
}

.latest-iaq-ico{
  margin-right : 5%;
}