.device-body{
  /* width : inherit;
  height : inherit; */

  width : 98%;
  height : 35px;
}

.device-section1 {
  width : 20%;
  height : 30%;

  padding : 1%;

  background-color: #ffffff;

  border : 1px solid #dddddd;
  border-radius: 5px;

  overflow : auto;
}