.aircok-header {
  height : 4%;
  padding : 15px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom : 1px solid #BCBCBC;
  background-color: #fff;
  color: #6C6C81;
  position: relative;
}

.header-logo{
  width : 14%;
}

.header-user{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header-alarm{  
  margin-right: 15px;
}

.header-user > img{
  width : 20px;
}

.user-icon {
  margin-right: 5px;
}



/* user info modal */
.header-userinfo{
  position: absolute;
  top : 80%;

  width : 125px;
  height : 40px;
}

.header-userinfo input {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #6C6C81;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
  border-radius: 7px;
}