.data-body{
  width : 100%;
  height : 100%;
}

/* Banner */
.data-banner{
  display : flex;
  justify-content: space-between;

  height : 8%;
}

.data-title{
  color : #4e4e4e;
  font-weight : bold;
  font-size: 150%;
}

.data-report{
  display : flex;
  align-items: flex-end;
  justify-content: flex-end;

  width: 30%;
}

.data-report-btn{
  width : 40%;
  height : 40%;

  margin-left : 5%;

  color : white;
  background-color : #888888;
  border : 0;
  border-radius : 1rem;
}

.data-report-btn:hover{
  background-color : #c4c4c4;
}


/* tabs */

.data-tabs{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width : 100%;
  height : 5%;
}

.data-tabs-ul {
  width: 94%;
  height : 100%;

  margin : 0;
  padding : 0;

  list-style : none;
}

.data-tabs-li {
  width : 12%;
  height : inherit;

  margin-right : 1%;
  
  float : left;
  
  display : flex;
  align-items : center;
  justify-content : center;

  height : inherit;

  border : 1px solid #dddddd;
  border-radius : 8px 8px 0 0;
}

.data-tabs-li-p{  
  width : 100%;
  text-align : center;
  border-left : 2px solid #f3f3f3;
}

.data-tabs-li-close{
  width : 10%;
  margin-right : 5%;
}

.data-tabs-popup-btn{
  display : flex;
  align-items: center;
  justify-content: center;
  
  float : right;

  width : 4%;
  height : 70%;

  margin-right : 2%;

  background-color : #ffffff;

  border : 1px solid #dddddd;
  border-radius : 8px;

  cursor : default;
}

.data-infos{
  /* display : grid;
  grid-template-areas:
    "dataiaq  datagraph"
    "datadnds datadnds";
  grid-template-columns: 1fr 2fr;
  grid-template-rows : 1fr 1fr;
  grid-gap : 2%; */

  /* width : 98%;
  height : 85%; */

  padding: 20px;

  background-color: #dddddd;
}

.data-banner {
  display: flex;
  flex-direction: row;
  /* position: relative; */
}

.data-iaq{
  /* grid-area : dataiaq; */
  width: 40%;
  height: 300px;

  margin-right: 20px;
  padding : 20px;

  background-color: #fff;
  border-radius : 10px;
}

.data-iaq > svg{
  width : 60%;
  margin-left: 20%;
}

/**
  Graph
*/
.data-graph{
  /* grid-area : datagraph; */
  width: 100%;
  height: 300px;

  padding : 20px;

  background-color: #fff;
  border-radius : 10px;
}

/* .data-graph-banner{
  display : flex;
  justify-content : space-between;
  align-items : center;
} */

.data-dnds{
  /* grid-area : datadnds; */

  /* display : grid; */
  /* grid-template-areas:
    "div div div div"
    "div div div div";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  /* grid-gap : 2%; */

  width : 100%;

  margin-top: 20px;

  /* position: absolute;
  top: 70%; */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.data-dnds > * {
  width: 24%;
  height: 180px;

  margin: 0 15px 15px 0;

  background-color: #fff;
  border-radius : 10px;
}

.data-dnds > *:nth-child(4n) {
  margin: 0;
}